.copy-button {
    height: 3rem;
    padding: 0 6rem;
    font-size: .8rem;
    font-weight: bold;
    border-radius: .4rem;
    background: #000;
    transition: all .3s ease-out;
    color: #fff;
    border: 1px solid #fff;
}

.copied {
    background-color: rgb(10, 201, 10);
    color: #000;
  }
  