.oji-description {
    display: flex;
    flex-direction: column;
    margin: 1rem;
    gap: 1rem;
    justify-content: center;
}

.efetivos, .estagiarios, .menor-aprendiz, .terceiro {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.oji-office, .oji-company {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-bottom: 1rem;
}

.oji-acessos {
    display: flex;
    flex-direction: column;
    margin-left: 1rem;
    margin-right: 1rem;
    gap: 1rem;
}

/* oji-log */

.oji-log {
    display: flex;
    flex-direction: column;
    margin: .7rem 1.5rem;
}

.margin {
    display: flex;
    flex-direction: row;
    margin: 1rem;
    gap: 1rem;
    align-items: center;
}